<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaraProjects</key>
	<array>
		<dict>
			<key>name</key>
			<string>Babit Cientific</string>
			<key>type</key>
			<string>Laravel</string>
			<key>localPath</key>
			<string>/Users/smac/Developer/LavarelProjects/babit</string>
			<key>remotePath</key>
			<string>/home/babit</string>
		</dict>
	</array>
</dict>
</plist>
